*{
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;

}

body{

    display: flex;

}
.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 115px;
    height: 100vh;
    padding:0 1.7rem;
    color: rgb(254, 254, 254);
    overflow: hidden;
    transition: all 0.5s linear;
    background:#066839;
}
.sidebar:hover{
    width:240px;
    transition: 0.5s;
}
.logo img{
    height:80px;
    padding:16px;
    align-items: baseline;
    margin-right: 100px;
}
.menu{
    height:88%;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s;
}
.menu li:hover,
active{
    background: #e0e0e058;
}
.menu a{
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.menu a span{
    overflow: hidden;
}
.menu a i{
    font-size: 1.2rem;
}
.logout{
    position: absolute;
    bottom: 0;
    left: -30px;
    width: 100%;

}
/*main body section*/
.main--content{
    position: relative;
    background:rgb(225, 223, 223);
    width: 100%;
    padding: 1rem;
}

.header--wrapper img{
    width:50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}
.header--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #f2f4f3;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.header--title{
    color: #066839;
}
.user--info{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.searh--box{
    background: rgb(255, 251, 251);
    border-radius: 15px;
    color:#066839;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
}

.searh--box input{
    background: transparent;
    padding: 10px;
}
.searh--box i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s;

}
.searh--box i:hover{
    transform: scale(1.2);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    margin: 50px auto;
    width: 80%;
}
.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.card-title {
    margin-bottom: 20px;
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
input[type="file"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}