body {
    box-sizing: border-box;
    background-image: url(/assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .home {
    min-height: calc(100vh - (6rem + 2rem));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
  }
  :root {
    --orange: #ffa500;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  *::selection {
    background: var(--orange);
    color: #fff;
  }
  
  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
  }
  
  section{
    padding: 2rem 9%;
  }
  
  header {
    top: 0;
    left: 0;
    right: 0;
    background: #333;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  }
  #menu-bar{
    color: #fff;
    border:.1rem solid #fff;
    border-radius: .5rem;
    font-size: 3rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
  }
  
  header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #f73838;
    text-transform: uppercase;
  }
  
  header .logo span{
    color: var(--orange);
  }
  header .navbar a{
    color: #fff;
    font-size: 2rem;
    margin: .8rem;
  }
  header .navbar a:hover{
    color: var(--orange);
  }
  
  
  .btnLogin-popup {
    width: 70px;
    height: 35px;
    background: transparent;
    border: 2px solid;
    outline: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    margin-left: 20px;
    transition: 0.1s;
    color: #ffffff;
  }
  .btnLogin-popup:hover {
    background: #000;
    color: orange;
  }
  
  header .icons i{
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
  }
  
  header .icons i:hover{
    color: var(--orange);
  }
  
  header .search-bar-container {
    display: none; 
    position: absolute; 
    top: 100%; 
    left: 0;
    right: 0;
    padding: 1.5rem 2rem;
    background-color: #333;
    border-top: .1rem solid rgba(255, 255, 255, .2);
    align-items: center;
    z-index: 1001;
  }
  header .search-bar-container.active {
    display: flex; 
  }
  header .search-bar-container #search-bar{
    width: 100%;
    padding: 1rem;
    text-transform: none;
    color: #333;
    font-size: 1.7rem;
    border-radius: .5rem;
  }
  header .search-bar-container label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
  }
  header .search-bar-container label:hover{
    color: var(--orange);
  }
  
      .page{
        padding: 50px 150px;
      }
      
      .container {
          display: grid;
          place-items: center;
          height: 100vh;
          padding: 0px 50px 50px 50px;
          background-color: #fff;
      }
      
      .grid-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 20px;
      }

      .column {
        padding: 0px 50px 100px 50px;
      }
      .column h1{
        font-size: 3em;
        padding: 0 50px 55px 0;
      }

      .dcolumn {
        padding: 100px 0 0 0;
      }

